beautifulsoup4
tavily-python
python-dotenv
black
isort
pytest
langchain
langgraph
langchainhub
langchain-chroma
langchain-unstructured
langchain-text-splitters
langchain-google-genai
langchain-community
langchain-huggingface
sentence-transformers
langchain-tavily
langchain-groq